<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info page</title>
    <style>
        body{
            background: url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
        }
        h{
            color: white;
            font-size: 30px;
        }
        p1{
            color: white;
            font-size: 25px;
        }
    </style>
    <center><h>Hello! This site was made by user who known as cossack_ua</h></center>
        <center><p1>Info.</p1></center>
</head>
<body>

</body>
</html>
